{
    "Comment": "Update record to add new CNAME record",
    "Changes": [
        {
            "Action": "UPSERT",
            "ResourceRecordSet": {
{%- if 'domain_record' in config['daskhub'] and config['daskhub']['domain_record'] is not none and 'domain_url' in config['daskhub'] and config['daskhub']['domain_url'] is not none %}
                "Name": "{{ config['daskhub']['domain_record'] + '.' + config['daskhub']['domain_url'] }}.",
{%- else %}
                "Name": "",
{%- endif %}
                "Type": "CNAME",
                "TTL": 300,
                "ResourceRecords": [
                    {
                        "Value": "<INSERT_LOADBALANCER_URL>"
                    }
                ]
            }
        }
    ]
}