# OpenTofu/Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
.terraform
.terraform/
.terraformed
terraform.rc
.terraform.lock.hcl

# Secrets (if you have them)
**/secrets.tfvars
**/*.pem
**/*.key

# OS files
.DS_Store
Thumbs.db

*.deb

# devcontainer
*.env
