.idea/
.venv/
cdk.out/
temp/
*~

# Python files to ignore
__pycache__/
*.py[cod]
*.$py.class

# Output files from pytest
TEST-*.xml

# Output files from code coverage
.coverage
coverage.xml
htmlcov

# Output files from static-analysis
codeclimate.json
pylint.txt

# Output files from the integration tests
instance/gitlab-integration-*
IT-*.xml

# Output files from deployments
instance/staging-*
instance/production-*
