daskhub:
  dask-gateway:
    gateway:
      auth:
        jupyterhub:
          apiToken: {{  heritage_params['config']['daskhub']['api_key2'] }}

  jupyterhub:
    ingress:
        enabled: true
        hosts:
          - {{ tf['outputs']['daskhub_fqdn']['value'] }}
        annotations:
          kubernetes.io/ingress.class: "nginx"
          nginx.ingress.kubernetes.io/auth-url: "https://{{ tf['outputs']['auth_fqdn']['value'] }}/oauth2/auth"
          nginx.ingress.kubernetes.io/auth-signin: "https://{{ tf['outputs']['auth_fqdn']['value'] }}/oauth2/start?rd=https://$host"
          nginx.ingress.kubernetes.io/auth-response-headers: "X-Auth-Request-Access-Token" # headers from cognito
          nginx.ingress.kubernetes.io/proxy-buffer-size: "8k"
          nginx.ingress.kubernetes.io/proxy-buffering: "on"
    hub:
      config:
        Authenticator:
          admin_users: {{  heritage_params['config']['daskhub']['admin_users'] }}
      services:
        dask-gateway:
          apiToken: {{  heritage_params['config']['daskhub']['api_key2'] }}
      extraEnv:
        DASKHUB_URL: "https://{{ tf['outputs']['daskhub_fqdn']['value'] }}"
        CLIENT_ID: "{{ tf['outputs']['cognito_client_secret']['value'] }}"
        COGNITO_URL: "https://{{ tf['outputs']['cognito_fqdn']['value'] }}/logout"
        OAUTH_LOGOUT_URL: "https://{{ tf['outputs']['auth_fqdn']['value'] }}/oauth2/sign_out"
