jupyterhub:
  proxy:
    secretToken: <INSERT_API_KEY1> 
  hub:
    services:
      binder: 
        apiToken: <INSERT_API_KEY2> 

registry:
  username: <INSERT_DOCKERHUB_USERNAME>
  password: <INSERT_DOCKERHUB_PASSWORD>

