# See:
#  https://kubectl.docs.kubernetes.io/references/kustomize/
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base/

patches:
- target:
    kind: Deployment
    name: portal
  patch: |
    - op: replace
      path: /spec/template/spec/containers/0/env
      value:
        - name: APP_NAME
          value: {{ hc_config['auth']['domain_prefix'] }}
        - name: DEFAULT_SECURITY_GROUP_ID
          value: "<<CNF_OUTPUT_PortalEc2SecurityGroup>>"
        - name: DEFAULT_EC2_INSTANCE_PROFILE_ARN
          value: "<<CNF_OUTPUT_PortalEc2InstanceProfile>>"
        - name: DEFAULT_EC2_SUBNET_ID
          value: "<<CNF_OUTPUT_PortalEc2SubnetId>>"
        - name: IDENTITY_POOL_ID
          value: "<<CNF_OUTPUT_PortalIdentityPool>>"
        - name: REGION
          value: {{ hc_config['env']['region'] }}
        - name: SITE_URL
          value: https://{{ hc_config['portal']['domain_record'] }}.{{ hc_config['portal']['domain_url'] }}
        - name: USER_POOL_CLIENT_SECRET
          value: "<<CNF_OUTPUT_CognitoClientSecret>>"
        - name: USER_POOL_CLIENT_ID
          value: "<<CNF_OUTPUT_CognitoClientId>>"
        - name: USER_POOL_ID
          value: "<<CNF_OUTPUT_CognitoUserPoolId>>"
        - name: FLASK_SECRET_KEY
          value: {{ hc_config['portal']['api_key'] }}
        - name: LOGOUT_URL
          value: https://oauth-{{ config['eksctl']['metadata']['name'] }}-{{ config['eksctl']['metadata']['region'] }}.{{ config['global']['domain_url'] }}/oauth2/sign_out
- target:
    kind: ServiceAccount
    name: portal-sa
  patch: |
    - op: replace
      path: /metadata/annotations/eks.amazonaws.com~1role-arn
      value: "<<CNF_OUTPUT_PortalEc2RoleArn>>"
- target:
    kind: Ingress
    name: portal-ingress
  patch: |
    - op: replace
      path: /spec/rules/0/host
      value: {{ hc_config['portal']['domain_record'] }}.{{ hc_config['portal']['domain_url'] }}
    - op: replace
      path: /metadata/annotations/nginx.ingress.kubernetes.io~1auth-url
      value: "https://oauth-{{ config['eksctl']['metadata']['name'] }}-{{ config['eksctl']['metadata']['region'] }}.{{ config['global']['domain_url'] }}/oauth2/auth"
    - op: replace
      path: /metadata/annotations/nginx.ingress.kubernetes.io~1auth-signin
      value: "https://oauth-{{ config['eksctl']['metadata']['name'] }}-{{ config['eksctl']['metadata']['region'] }}.{{ config['global']['domain_url'] }}/oauth2/start"

