{% extends "base.html" %}
{% block content %}

<h2>Create Custom Image</h2>

<form method="post">

  <p><b>Platform</b>: {{instance_info.PlatformDetails}}</p>
  <!-- Instance Name -->
  <div class="form-group">
    <label for="instance_id" class="col-sm-2 col-form-label"><b>Instance Id</b></label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="instance_id" value={{instance_info.InstanceId}}>
    </div>
    <label for="image_name"><b>Image Name</b></label>
    <input type="text" class="form-control" name="image_name" id="image_name" placeholder="Name">
    <label for="image_description"><b>Description</b></label>
    <input type="text" class="form-control" name="image_description" id="image_description">
  </div>
  <button type="submit" class="btn btn-primary">Create Image</button>
</form>

{% endblock %}
