#!/bin/bash

AWS_REGION=$(aws ec2 describe-availability-zones --output text --query 'AvailabilityZones[0].[RegionName]')

KUBERNETES_NAMESPACE={{ config['daskhub']['namespace'] }}
ROUTE53_HOSTED_ZONE={{ config['daskhub']['domain_url'] }}

cd daskhub
helm dep update
helm upgrade \
    daskhub ./ \
    --namespace ${KUBERNETES_NAMESPACE} \
    --values=values.yaml \
    --values=values-production.yaml \
    --post-renderer=./kustomize-post-renderer-hook.sh \
    --install --timeout 30m30s --debug

