jupyterhub:
  proxy:
    secretToken: <INSERT_API_KEY1> 
  hub:
    services:
      dask-gateway:
        apiToken: <INSERT_API_KEY2>

dask-gateway:
  gateway:
    auth:
      jupyterhub:
        apiToken: <INSERT_API_KEY2>

