{
    "Comment": "Update record to add new CNAME record",
    "Changes": [
        {
            "Action": "UPSERT",
            "ResourceRecordSet": {
                "Name": "<INSERT_DASKHUB_DNS_NAME>.",
                "Type": "CNAME",
                "TTL": 300,
                "ResourceRecords": [
                    {
                        "Value": "<INSERT_LOADBALANCER_URL>"
                    }
                ]
            }
        }
    ]
}