# User configuration for deployment of Daskhub
# Must replace everything with <REPLACE> string
# Optionally can set the remaining variables


# Assumes Route 53 hosted zone has been created 
# Other scripts will upsert record at <ROUTE53_DASKHUB_PREFIX>.<ROUTE53_HOSTED_ZONE>
# with load balancer created by Daskhub helm chart
# Ex. for ROUTE53_HOSTED_ZONE='example.com' and ROUTE53_DASKHUB_PREFIX='hub'
# will be able to access Daskhub at DNS of hub.example.com
# after deploy
ROUTE53_HOSTED_ZONE='<REPLACE>' # Ex. 'example.com'
ROUTE53_DASKHUB_PREFIX='daskhub'

# Names of resources (typically only need to be changed if running multiple versions)
KUBERNETES_NAMESPACE='daskhub'
EKS_NAME='eks-helio'

# Admin information for OAuth and Certs, 
# TODO: modify if there is more than one admin
DASKHUB_ADMIN_USER='<REPLACE>' # User in AWS Cognito userpool that is the admin, ex. 'jsmith'
ADMIN_USER_EMAIL='<REPLACE>' # Email to send cert validation emails to, ex. 'jsmith@gmail.com'